nav {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 20px;
    background-color: rgb(251,249,247);
    width: clamp(280px, 20vw, 20vw);
    position: fixed;
    padding-right: 0;
}

/* PROFILE  */

nav .profile {
    display: flex;
    gap: 1em;
    align-items: center;
    padding-bottom: 1em;
    /* border-bottom: 3px solid gray; */
}

nav .profile img {
    border: 2px solid #ddd;
    border-radius: 50%;
}

/* TASKS  */

nav .new-task {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 100%;
    margin-bottom: 1em;
    padding: 0.8em 0.5em;
}

nav .new-task img {
    border-radius: 50%;
    background-color: rgb(20, 250, 20);
}

nav .sort-options {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    margin-left: 0.5em;
    padding-bottom: 1.5em;
}

nav .sort-options img {
    max-width: 1.5em;
}

nav .sort-options button {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 0.8em;
}

/* PROJECTS  */

nav .new-project {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
    padding: 0.8em 0.5em;
}

nav .new-project img {
    border-radius: 50%;
    background-color: rgb(255, 150, 150);
}

nav .projects-list button {
    display: flex;
    gap: 1em;
    align-items: center;
    width: 100%;
    padding: 0.8em;
}

nav .projects-list {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

nav .projects-list img {
    max-width: 1.5em;
}

/* HOVERS  */

.projects-list button:hover, .sort-options button:hover {
    background-color: #eee;
    border-radius: 10px 0px 0px 10px;
    border-right: 5px solid cornflowerblue;
    font-weight: bold;
    color: cornflowerblue;
}

.new-task:hover {
    background-color: rgb(20, 250, 20, 10%);
    border-radius: 10px 0px 0px 10px;
    border-right: 5px solid green;
    font-weight: bold;
    color: green;
}

.new-project:hover {
    background-color: rgb(250, 20, 20, 5%);
    border-radius: 10px 0px 0px 10px;
    border-right: 5px solid red;
    font-weight: bold;
    color: red;
}

/* DELETE ICONS */

.delete-project {
    margin-left: auto;
}

.project-item .invisible {
    opacity: 0;
}