section {
    flex-grow: 1;
    margin-left: clamp(280px, 20vw, 20vw);;
}

/* TITLE  */

section h1 {
    font-weight: bold;
    font-size: 2.8rem;
    margin-top: 80px;
    margin-left: 150px;
    margin-bottom: 1em;
}

/* TASKS  */

.line {
    width: 80%;
    margin: auto;
    margin-top: 1em;
    padding: 15px;

    padding-bottom: 1em;
    border-bottom: 2px solid #eee;
}

.line:hover {
    background-color: #eee;
    border-radius: 10px;
}

.line .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line .task {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 1em;
}

.task p {
    color: gray;
    text-wrap: nowrap;
}

.line .priority {
    flex: 1;
    display: flex;
    justify-content: end;
    margin-right: 5rem;
}

.line .due-date {
    margin-left: 3.5rem;
    color: green;
}

/* DELETE ICON  */

.main .invisible {
    opacity: 0;
}