/* GENERAL STYLING */

body {
  background-color: #222;
  color: white;
  display: flex;
}

img {
  max-width: 3em;
}

button {
    appearance: none;
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
}

hr {
    border: 1px solid gray;
}